@import "vars";

/* VERIABEL */

$init: px;
$trans: vw;

$xl: 1339.98;
$lg: 1199.98;
$md: 991.98;
$sm: 767.98;
$xs: 575.98;
$ss: 480.98;

$min_xl: 1440;
$min_lg: 1200;
$min_md: 992;
$min_sm: 768;
$min_xs: 576;
$min_ss: 481;

/* MEDIA mixins */

@mixin max-to($media) {
  @if $media == xl {
    @media only screen and (max-width: $xl + $init) { @content; }
  }
  @else if $media == lg {
    @media only screen and (max-width: $lg + $init) { @content; }
  }
  @else if $media == md {
    @media only screen and (max-width: $md + $init) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: $sm + $init) { @content; }
  }
  @else if $media == xs {
    @media only screen and (max-width: $xs + $init) { @content; }
  }
  @else if $media == ss {
    @media only screen and (max-width: $ss + $init) { @content; }
  }
}

@mixin min-from($media) {
  @if $media == min_xl {
    @media only screen and (min-width: $min_xl + $init) { @content; }
  }
  @else if $media == min_lg {
    @media only screen and (min-width: $min_lg + $init) { @content; }
  }
  @else if $media == min_md {
    @media only screen and (min-width: $min_md + $init) { @content; }
  }
  @else if $media == min_sm {
    @media only screen and (min-width: $min_sm + $init) { @content; }
  }
  @else if $media == min_xs {
    @media only screen and (min-width: $min_xs + $init) { @content; }
  }
  @else if $media == min_ss {
    @media only screen and (min-width: $min_ss + $init) { @content; }
  }
}

@include max-to(xl) {
}

@include max-to(lg) {
}

@include max-to(md) {
}

@include max-to(sm) {
}

@include max-to(xs) {
}

@include max-to(ss) {
}

@include min-from(min_xl) {
}

@include min-from(min_lg) {
}

@include min-from(min_md) {
}

@include min-from(min_sm) {
}

@include min-from(min_xs) {
}

@include min-from(min_ss) {
}

/* styles */

@include min-from(min_sm) {
  .mobile-main-menu {
    display: none;
  }
}

@include max-to(xl) {

  .gallery .slick-next{
    right: -46px;
  }
  .gallery .slick-prev{
    left: -46px;
  }
}


@include max-to(lg) {

  .main-menu > .menu-item > a{
    font-size: 12px;
  }

  .header__phone-link{
    font-size: 12px;
  }

  .header .menu-item-has-children .sub-menu a,
  .hamburger-menu__wrap a{
    font-size: 12px;
  }

  .header__logo-wrap img{
    max-width: 240px;
  }

  .fancybox{
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .gallery__slider{
    padding: 0 36px;
  }

  .slick-initialized .slick-slide{
    margin: 0 10px;
  }

  .fancybox img{
    object-fit: cover;
    width: 100%;
  }

  .gallery .slick-next{
    right: -6px;
    transform: translateY(-50%);
  }
  .gallery .slick-prev{
    left: -6px;
    transform: rotate(180deg) translateY(50%);
  }

  .slick-dots{
    margin: 20px auto !important;
  }

  .contacts__inner{
    padding: 0 15px;
  }

  .shops__item iframe{
    max-width: 100%;
  }

  .about__team-list-wrap{
    justify-content: flex-start;
    margin: 0 -15px;
  }

  .about__team-list-item{
    margin: 0 15px 30px;
  }

  .gallery-page__slide{
    margin: 2px 2px;
  }

  .footer__link{
    font-size: 13px;
  }
}

@include max-to(md) {

  .hamburger{
    padding: 15px;
  }
  .header__logo-wrap{
    padding-right: 20px;
  }

  .banner__title{
    font-size: 52px;
    line-height: 52px;
  }

  .slick-initialized .slick-slide{
    margin: 0 6px;
  }

  //.gallery__slider{
  //  padding: 0 46px;
  //}

  .banner__subtitle{
    font-size: 28px;
    line-height: 28px;
  }

  .header__logo-wrap img {
    max-width: 180px;
  }

  .main-menu > .menu-item > a{
    font-size: 9px;
    padding: 10px 13px;
  }

  .header .menu-item-has-children::after{
    right: 4px;
  }

  .header__phone-link{
    font-size: 10px;
  }

  .banner .slick-prev{
    left: 2%;
  }
  .banner .slick-next{
    right: 2%;
  }

  .shops__item iframe{
    width: 100%;
  }

  .gallery-page__inner{
    justify-content: space-between;
  }

  .gallery-page__slide{
    max-width: 100%;
    width: calc(50% - 4px);
  }

  .trading__examples{
    max-width: 50%;
    margin-right: 30px;

    & img{
      max-width: 100%;
      object-fit: cover;
    }
  }

  .trading__description{
    max-width: 50%;
  }

}

@include max-to(sm) {

  .header__logo-wrap{
    order: 1;
  }

  .header__search{
    order: 2;
  }

  .header__phone{
    order: 3;
  }

  .header__nav{
    order: 4;
  }

  .header__phone-link{
    font-size: 12px;
  }

  .banner__title {
    font-size: 38px;
    line-height: 38px;
  }

  .banner__subtitle{
    font-size: 24px;
    line-height: 24px;
  }

  .main-menu{
    display: none;
  }

  .header .sub-menu, .hamburger-menu__wrap{
    left: 50%;
    transform: translateX(-50%);
  }

  .header__inner{
    justify-content: space-between;
  }

  .burger-menu__wrap::before,
  .header__logo-wrap::before,
  .main-menu > .menu-item > a::before,
  .header__search::before {
    display: none;
  }

  .hamburger-menu__wrap{
    min-width: 50vw;
    left: auto;
    transform: translateX(0);
    right: 10px;
  }

  .header .menu-item-has-children:hover .sub-menu{
    width: calc(100% + 20px);
  }

  .header .menu-item-has-children .sub-menu a, .hamburger-menu__wrap a{
    font-size: 14px;
    display: block;
    width: max-content;
    min-width: 100%;
  }

  .header .menu-item-has-children::after{
    right: 10px;
  }

  .hamburger{
    padding: 22px;
  }
  .header__logo-wrap{
    padding-right: 22px;
  }

  .slick-initialized .slick-slide{
    margin: auto 2px;
    padding: 0 2px;
  }

  .contacts__info{
    margin-bottom: 40px;
  }
  .contacts__map{
    margin: 0;
  }

  .contacts .green-btn{
    margin: 21px auto;
  }

  .callback .col-12{
    padding: 0;
  }

  .fancybox_video{
    width: 100%;
    height: 200px;
  }

  .about__team-list-wrap{
    justify-content: center;
  }

  .trading__title{
    font-size: 18px;
    line-height: 1;
  }

  .trading__item{
    flex-direction: column;
    padding: 10px;
  }

  .trading__examples{
    max-width: 100%;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .trading__description{
    max-width: 100%;
  }

  .footer__inner-margin{
    margin-bottom: 30px;
  }

  .about__item {
    margin-bottom: 30px;
  }

  .news__all{
    max-width: 100%;
  }
}

@include max-to(xs) {

  .advantages__inner{
    justify-content: center;
  }

  .advantages .col{
    flex: 0 0 160px;
  }

  .products__inner{
    overflow: hidden;
  }

  .products__item:hover{
    transform: translate(0,0);
  }

  .gallery-page__slide{
    max-width: 100%;
    width: 100%;
  }
}

@include max-to(ss) {

  .banner{
    height: calc(100vh - 140px);
  }

  .banner__title {
    font-size: 28px;
    line-height: 28px;
  }

  .banner__subtitle{
    font-size: 17px;
    line-height: 17px;
  }

  .hamburger{
    padding: 15px;
  }

  .header__phone{
    display: none;
  }

  .header__logo-wrap{
    order: 1;
  }

  .header__nav{
    order: 3;
  }

  .header__search{
    order: 2;
  }

  .header .sub-menu, .hamburger-menu__wrap{
    min-width: 100%;
  }

  .hamburger-menu__wrap{
    right: 0;
  }

  .header__search{
    padding: 0 4px;
  }

  .section__title{
    font-size: 24px;
  }

  .about__team-list-item{
    max-height: 389px;
  }

  .about__team-list-name{
    font-size: 14px;
  }

  .news__poster img{
    width: 100% !important;
    object-fit: cover;
  }
}

@media screen and (max-width: 374.98px){
  .about__team-list-info{
    transform: translateY(-78px);
  }
}

