.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 200px;
  margin: -67px auto 0 !important;
  position: relative;
  z-index: 12;
  li {
    button {
      background: none;
      border: none;
      font-size: 0;
      padding: 0 10px;
      &::after {
        content: '';
        display: block;
        width: 11px;
        height: 11px;
        border: 1px solid $green;
        border-radius: 50%;
        background: white;
      }
    }
    &.slick-active {
      button::after {
        width: 17px;
        height: 17px;
        border-width: 2px;
      }
    }
  }
}
.white-popup {
  background: white;
  border-radius: 15px;
  padding: 30px;
  max-width: 400px;
  margin: auto;
}
.slick-slide:focus {
  outline: none;
}
.slick-next,.slick-prev {
  font-size: 0;
  background: none;
  border: 0;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  cursor: pointer;
  z-index: 10;
  display: block;
  width: 36px;
  height: 36px;
  &:hover {
    opacity: .7;
  }
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/arr.svg") no-repeat center / contain;
  }
}
.slick-slide img {
  max-width: 100%;
}
.fancybox {
  display: block;
  position: relative;
  max-width: 274px;
  &:hover {
    &::before {
      opacity: 0.8;
    }
    &::after {
      opacity: 1;
    }
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #bee86e;
    opacity: 0;
    transition: all .3s ease;
  }
  &::after {
    content: '';
    display: block;
    width: 52px;
    height: 52px;
    background: url("../img/fancybox-glass.png") no-repeat center / contain;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -26px;
    margin-top: -26px;
    opacity: 0;
    transition: all .3s ease;
  }

  &_video{
    width: 255px;
    height: 170px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  &_title-video{
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
  }

  &_video::after{
    background: url("../img/icons/fancybox-play.png") no-repeat center / contain;
  }
}

.banner .slick-prev {
  left: 20%;
}
.banner .slick-next {
  right: 20%;
}
.slick-prev {
  transform: rotate(180deg);
}
.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 20px 0;
  a {
    color: $green;
  }
  .sep {
    color: $green;
    font-size: 20px;
    display: block;
    padding: 0 3px;
  }
}


.page-content {
  &__wrap  {
    color: #555555;
    p {
      line-height: 18px;
      margin-bottom: 20px;
    }
    ul {
      padding-left: 40px;
      list-style: disc;
      margin-bottom: 20px;
    }
    ol {
      padding-left: 40px;
      margin-bottom: 20px;
    }
    a {
      color: $green;
    }
    h1, h2, h3:not(.section__title), h4, h5, h6 {
      font-family: "Geometria - Extra Bold", sans-serif;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
    .section__title {
      margin-bottom: 40px;
    }
    .wp-post-image {
      float: left;
      margin-right: 30px;
      margin-bottom: 20px;
    }
  }
  &__date {
    display: block;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 50%;
      height: 1px;
      background: #e7e7e7;
      position: absolute;
      bottom: 0;
      left: 51%;
    }
  }
}


.banner .slick-initialized .slick-slide {
  display: flex !important;
}
.banner .slick-list, .banner .slick-track {
  height: 100%;
}
.header .sub-menu, .hamburger-menu__wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: white;
  z-index: 12;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}
.header .menu-item-has-children {
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 10px;
    border-top-color: $green;
  }
  &:hover {
    .sub-menu {
      display: block;
      width: 345px;
    }
  }
}
.hamburger {
  padding: 15px 22px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
.hamburger:hover {
  opacity: 0.7; }
.hamburger-box {
  width: 30px;
  height: 23px;
  display: inline-block;
  position: relative; }
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: $black;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }
.hamburger-inner::before {
  top: -10px; }
.hamburger-inner::after {
  bottom: -10px; }

.hamburger-menu__wrap {
  display: none;
}
/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 4px; }
.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s; }
.hamburger--slider .hamburger-inner::after {
  top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0; }
.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg); }


/**
 * Fade-zoom animation for first dialog
 **/
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
/**
 * Fade-move animation for second dialog
 */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  -moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  -ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  -o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  transform: translateY(0) perspective( 600px ) rotateX( 0 );
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  -moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  -ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  -o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}
/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}