@import "fonts";
@import "vars";
@import "libs";
@import "stuff";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 110%;
  &:before, &:after {
    box-sizing: border-box;
  }
}

body {
  font-size: 14px;
  min-width: 320px;
  font-family: $default-font;
  color: $main-color;
  overflow-x: hidden;
}

section, header, footer {
  position: relative
}

input, button, a {
  &:focus {
    outline: none
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-center {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.block {
  display: block;
}
.text-center {
  text-align: center;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: auto;
}

.section {
  &__title {
    color: $black;
    font-family: "Geometria - Extra Bold", sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    &:after {
      content: '';
      display: block;
      width: 160px;
      height: 1px;
      background-color: $green;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -80px;
    }
    &_small {
      font-size: 20px;
    }
  }
 }
#search {
  .section__title {
    margin-bottom: 30px;
  }
  .green-btn {
    margin: auto;
  }
}
@mixin classic-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu {
  @include classic-flex;
}

.more-overlay {
  display: block;
  position: relative;
  &::after {
    content: '';
    display: block;
    background-color: $green;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
  }
  &::before {
    content: 'Детальніше';
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid #ffffff;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: -23px auto 0;
    z-index: 12;
    max-width: 173px;
    text-align: center;
    top: 50%;
    transition: all .3s ease;
  }
  &:hover {
    &::after {
      opacity: 0.85;
    }
    &::before {
      opacity: 1;
    }
  }
}

.green-btn {
  display: block;
  background-color: $green;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  width: 100%;
  max-width: 168px;
  padding: 8px 0;
}

.main-menu>.menu-item>a {
  display: block;
  padding: 10px 22px;
  color: $black;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.header .menu-item-has-children .sub-menu a, .hamburger-menu__wrap a {
  color: $black;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  padding: 10px 20px;
  display: block;
  border-bottom: 1px solid #e0e0e0;
  transition: all .3s ease;
  &:hover {
    color: white;
    background-color: $green;
  }
}

.burger-menu__wrap,.header__logo-wrap, .main-menu>.menu-item>a, .header__search {
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background-color: $green;
    position: absolute;
    top: 50%;
    margin-top: -10px;
  }
  &::before {
    right: 0;
  }
}

.header {
  padding: 8px 0;
  &__inner {
    @include classic-flex;
    justify-content: flex-start;
  }
  &__nav {
    @include classic-flex;
  }
  &__phone {
    &-link {
      color: $black;
       font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
    }
  }
  &__logo-wrap {
    padding-right: 23px;

    & a{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__search {
    padding: 0 12px;
    margin-right: 10px;
  }
}

.banner {
  height: 654px;
  &__title {
    color: #ffffff;
    font-family: "Geometria - Extra Bold", sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
  }
  &__subtitle {
    color: #ffffff;
    font-family: "Geometria - Extra Bold", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 25px;
  }
  &__item {
    display: flex !important;
    text-align: center;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    .container {
      margin: auto;
    }
  }
}

.about {
  margin-top: 75px;
  &__inner {
    margin-top: 50px;
  }
  &__num {
    width: 139px;
    height: 139px;
    border: 1px dashed #cccccc;
    border-radius: 50%;
    display: flex;
    margin: 0 auto 35px;
    span {
      display: block;
      margin: auto;
      color: $green;
      font-family: "Geometria - Extra Bold", sans-serif;
      font-size: 64px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
    }
  }
  &__txt {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
}

.advantages {
  margin-top: 65px;
  padding-top: 75px;
  padding-bottom: 60px;
  background-color: #f8f8f8;
  &__txt {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-top: 25px;
  }
  &__inner {
    margin-top: 50px;
  }

  & .col{
    margin-bottom: 25px;
  }
}

.products {
  margin-top: 50px;
  .section__title {
    margin-bottom: 30px;
  }
  &__title {
    color: #555555;
    font-family: "Geometria - Extra Bold", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-top: 50px;
    &::after, &::before {
      content: '';
      display: block;
      width: 90px;
      height: 1px;
      background: #e0e0e0;
      position: absolute;
      top: 50%;
    }
    &::after {
      right: calc(100% + 15px);
    }
    &::before {
      left: calc(100% + 15px);
    }
  }
  &__item {
    text-align: center;

    transition: all .3s ease;
    &:hover {
      transform: translate(-3px, -3px);
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    }
    img {
      height: 250px;
    }
    &-inner {
      display: block;
      height: 405px;
      padding-top: 50px;
    }
  }
}

.gallery {
  margin-top: 80px;
  .section__title {
    margin-bottom: 50px;
  }
  .slick-prev {
    left: -56px;
  }
  .slick-next {
    right: -56px;
  }
  .slick-prev::after, .slick-next::after {
    background-image: url("../img/icons/next-gal.svg");
  }

  &-page__video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.news {
  margin-top: 80px;
  .section__title {
    margin-bottom: 62px;
  }
  &__poster {
    display: block;
    max-width: 100%;
    min-height: 235px;
    overflow: hidden;
  }
  &__head {
    display: block;
    margin-top: 15px;
    color: #555555;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 14px;
    border-bottom: 1px solid #e7e7e7;
  }
  &__descr {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 23px;
  }
  &__read-more {
    color: $green;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: underline;
    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__list {
    border: 1px solid $green;
    &-item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e7e7e7;
      padding: 15px;
      padding-left: 0;
      transition: all .3s ease;
      &>* {
        transition: all .3s ease;
      }
      &:hover {
        background: $green;
        &>* {
          color: $white;
        }
      }
    }
    &-date {
      display: block;
      padding: 15px;
      position: relative;
      margin-right: 15px;
      &::after {
        content: '';
        display: block;
        width: 1px;
        height: 18px;
        background: $green;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -9px;
      }
    }
    &-head {
      display: block;
      color: #555555;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
    }
    &-inner {
      height: 389px;
      overflow-y: auto;
    }
  }
  &__all {
    display: block;
    width: 100%;
    max-width: 350px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    padding: 19px 0;
    padding-left: 41px;
    background: url("../img/right-arrow.png") no-repeat 84% center / 23px, $green;
  }
  &__item {
    margin-bottom: 40px;
    overflow: hidden;
  }
}

.footer {
  background: #f8f8f8;
  margin-top: 85px;
  padding : 40px 0;
  &__socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 0;
    a {
      display: block;
      margin-right: 20px;
    }
    svg {
      display: block;
      width: 30px;
    }
  }
  &__copyright {
    &-txt {
      font-size: 12px;
      line-height: 20px;
    }
  }
  &__menu {
    &>li>a {
      color: $black;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      padding: 5px 0;
      display: block;
    }
  }
  .sub-menu {
    a {
      display: block;
      color: $black;
      line-height: 24px;
      padding-left: 10px;
      position: relative;
      transition: 0.2s ease-out;

      &::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-left-color: $green;
        position: absolute;
        left: 0;
        top: 7px;
      }

      &:hover{
        color: #A9CB5E;
      }

      &:active{
        color: $black;
      }
    }
  }
  &__title {
    color: $black;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__link {
    display: block;
    line-height: 24px;
    transition: 0.2s ease-out;

    &:hover{
      color: #A9CB5E;
    }

    &:active{
      color: $black;
    }
  }
}

.trading {
  .section__title {
    margin-bottom: 30px;
  }
  &__examples {
    max-width: 420px;
    margin-right: 60px;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 30px;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    margin-top: -1px;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  &__nav {
    padding: 0 38px;
    margin-top: 10px;
    img {
      max-width: 73px;
      padding: 15px 0;
    }
    .slick-slide {
      cursor: pointer;
      border: 1px solid #ececec;
      margin: 0 7px;
    }
  }
  .slick-list {
    padding: 0 !important;
    img {
      margin: auto;
    }
  }
  &__poster {
    border: 1px solid #ececec;
    padding: 25px 0;
  }
  &__title {
    color: $black;
    font-family: "Geometria - Extra Bold", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 34px;
  }
  &__addresses {
    &-txt {
      color: $black;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      margin-top: 36px;
      margin-bottom: 15px;
    }
    &-btn {
      display: block;
      width: 100%;
      max-width: 238px;
      background-color: $green;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      text-align: center;
      padding: 10px 0;
    }
  }
  .slick-prev::after, .slick-next::after {
    background-image: url("../img/icons/next-gal.svg");
  }
  p {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
  &__more {
    display: inline-block;
    color: $green;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin-top: 40px;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 23px;
      height: 17px;
      position: absolute;
      right: -35px;
      top: 1px;
      background: url("../img/icons/right-arrow.svg") no-repeat center / contain;
    }
  }
}

.shops {
  .section__title {
    margin-bottom: 40px;
  }
  &__city {
    color: $black;
    font-family: "Geometria - Extra Bold", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 14px;
    padding-bottom: 16px;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 13px;
  }
  &__address {
    margin-bottom: 13px;
    text-align: center;
  }
  &__phone {
    color: #555555;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    display: block;
    text-align: center;
  }
  &__item {
    margin-bottom: 45px;
  }
}

.services {
  .section__title {
    margin-bottom: 40px;
  }
  &__item {
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid #d5d5d5;
    &.active {
      .services__question::before {
        transform: rotate(180deg);
      }
    }
  }
  &__question {
    color: $black;
    font-family: "Geometria - Extra Bold", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    padding: 15px  30px;
    background-color: #f8f8f8;
    &::before {
      content: '';
      display: block;
      width: 23px;
      height: 23px;
      background: url("../img/icons/services-arr.png") no-repeat center / contain;
      position: absolute;
      right: 14px;
      top: 14px;
      transition: all .3s ease;
    }
  }
  &__answer {
    border-top: 1px solid #d5d5d5;
    color: $black;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  &__answer {
    padding: 20px 40px;
    &-wrap {
      display: none;
    }
  }
}

.contacts {
  .section__title {
    margin-bottom: 50px;
  }
  &__info {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 47px 30px 57px;
    background: white;
    &-item {
      padding-left: 53px;
      position: relative;
      &:not(:last-of-type) {
        margin-bottom: 33px;
      }
      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
      }
      &:first-of-type::before {
        left: 0;
        top: 9px;
        width: 24px;
        height: 28px;
        background: url("../img/icons/contacts-ico-1.svg") no-repeat center / contain;
      }
      &:nth-of-type(2)::before {
        left: 4px;
        top: 9px;
        width: 18px;
        height: 30px;
        background: url("../img/icons/contacts-ico-2.svg") no-repeat center / contain;
      }
      &:last-of-type::before {
        left: 0;
        top: 4px;
        width: 24px;
        height: 17px;
        background: url("../img/icons/contacts-ico-3.svg") no-repeat center / contain;
      }
      &::after {
        width: 1px;
        height: 20px;
        background: $green;
        top: 50%;
        left: 40px;
        margin-top: -10px;
      }
    }
    &-inner {
      width: 100%;
      max-width: 250px;
      margin: auto;
    }
    &-txt {
      color: $black;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      transition: all .3s ease;
      display: block;
      font-style: normal;
      &_link:hover {
        color: $green;
      }
    }
  }
  &__title {
    color: $black;
    font-family: "Geometria - Extra Bold", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 45px;
    text-align: center;
  }
  &__label {
    color: $black;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    display: block;
  }
  &__input {
    display: block;
    width: 100%;
    border: 1px solid #ececec;
    font-style: italic;
    padding: 5px 8px;
    margin-bottom: 12px;
    &_txtarea {
      resize: none;
      height: 145px;
    }
  }
  .green-btn {
    margin: 21px auto 0;
  }
  &__map {
    margin-top: -20px;
  }
}

.about {
  &__slider {
    margin-top: 60px;
  }
  .slick-next {
    top: 60%;
  }
  .slick-prev {
    left: -65px;
  }
  &__team {
    margin-top: 40px;
    &-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 45px;
      padding-bottom: 70px;
      border: 1px solid #ffb800;
      margin-top: 30px;
      &-name {
        color: $black;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.72px;
      }
      &-pos {
        color: #838282;
        font-size: 12px;
        font-style: italic;
        letter-spacing: 0.48px;
        display: block;
        margin-top: 15px;
        margin-bottom: 35px;
      }
      &-txt {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.56px;
      }
      &-img {
        flex-basis: 40%;
        max-width: 350px;
        position: relative;
        margin-right: 40px;
        &::after {
          content: '';
          display: block;
          width: 100%;
          max-width: 350px;
          height: 100%;
          background-color: #baf4f0;
          position: absolute;
          left: 30px;
          top: 30px;
          z-index: -1;
        }
      }
      &-txt {
        &-wrap {
          flex-basis: 58%;
        }
      }
    }
    &-list {
      &-wrap {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }
      &-img {
        transition: all .3s ease;
      }
      &-item {
        max-width: 350px;
        max-height: 390px;
        overflow: hidden;
        background-color: #afd755;
        &.active {
          .about__team-list-info {
            transform: translateY(-303px);
          }
          .about__team-list-img {
            transform: translateY(-50px);
          }
          .about__team-list-speciality_more::after {
            transform: rotate(-180deg) !important;
            top: 10px !important;
          }
        }
      }
      &-info {
        background-color: $green;
        text-align: center;
        transform: translateY(-90px);
        transition: all .3s ease;
        &-name {
          padding: 10px;
          border-bottom: 1px solid #ffffff;
        }
        &-docs {
          padding: 10px;
        }
      }
      &-name {
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
      }
      &-speciality {
        display: block;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        &_more {
          text-decoration: underline;
          position: relative;
          display: inline-block;
          cursor: pointer;
          transition: all .3s ease;
          color: #ffffff;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          &:hover {
            color: lightgoldenrodyellow;
          }
          &::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-bottom-color: white;
            position: absolute;
            right: -15px;
            top: 6px;
          }
        }
      }
      &-about {
        color: $white;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.56px;
        min-height: 50px;
        max-width: 255px;
        margin: 0 auto 20px;
        text-align: center;
      }
      &-cert {
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
    }
  }
}
.certificates {
  &-slide {
    a {
      display: flex;
      max-width: 55px;
      height: 75px;
      margin: auto;
      align-items: center;
    }
  }
  &-slider {
    max-width: 200px;
    margin: auto;
    .slick-next, .slick-prev {
      width: 24px;
      height: 24px;
      top: 50%;
      margin-top: -12px;
     // transform: translateY(50%);
    }
    .slick-next::after, .slick-prev::after {
      filter: brightness(2);
    }
    .slick-next {
      right: -40px;
    }
    .slick-prev {
      left: -40px;
    }
  }
}


.page-template-contacts .footer {
  margin-top: 0;
}

.docs {
  margin-top: 50px;
  .section__title {
    margin-bottom: 50px;
  }
  &__file {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    &::before {
      content: '';
      display: block;
      width: 49px;
      height: 65px;
      margin: 0 auto 15px;
    }
  }
  &__doc::before {
    background: url("../img/icons/doc-file.svg") no-repeat center / contain;
  }
  &__pdf::before {
    background: url("../img/icons/pdf-file.svg") no-repeat center / contain;
  }
}

.gallery-page {
  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -2px;
  }

  &__slide {
    margin: 0 2px;
  }

  &__inner_video{
    margin: 0 -15px;
  }

  &__video{
    margin: 0 0 40px;
  }
}

.error-section {
  background: url("../img/404-bg.jpg") no-repeat center / cover;
  text-align: center;
  padding: 120px 0;
  &__title {
    display: block;
    color: $black;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__num {
    color: #db4e4e;
    font-family: "Geometria - Extra Bold", sans-serif;
    font-size: 288px;
    font-weight: 400;
    line-height: 232px;
    margin-bottom: 20px;
  }
  &__txt {
    color: $black;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    a {
      color: #db4e4e;
      font-family: "Geometria - Extra Bold", sans-serif;
      font-weight: 400;
      text-decoration: underline;
    }
  }
}
.error404 .footer {
  margin: 0;
}

.pagination {
  width: 100%;
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  a, span {
    display: block;
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 5px;
  }
  .current {
    color: #ffffff;
    font-family: "Geometria - Bold", sans-serif;
    font-weight: 700;
    background: $green;
    padding: 3px 7px;
  }
  .next, .prev {
    background-color: $green;
    color: #ffffff;
    width: 100px;
    text-align: center;
    position: relative;
    padding: 2px 0;
    &::after {
      content: '';
      display: block;
      width: 13px;
      height: 13px;
      border-right: 1px solid white;
      border-bottom: 1px solid white;
      transform: rotate(-45deg);
      position: absolute;
      left: 10px;
      top: 7px;
    }
  }
  .prev {
    padding-right: 10px;
    &::after {
      transform: rotate(-225deg);
      left: initial;
      right: 10px;
    }
  }
}






//Media styles
@import "media";
